{% extends "base.html" %}
<!--- -->
{% block content %}
<section id="hero" class="hero">
  <div class="container">
    <div class="row align-items-center p-5 g-4">
      <div class="col-md-6">
        <h2>
          Skills you need today for a <br />
          successful tomorrow
        </h2>
        <p>
          Bring your new career one step closer by getting a professional
          certificate. With our 100% online school and unique teaching method,
          you'll have the keys to your own success.
        </p>
        <a href="#" class="btn btn-violet-fill fw-bold mb-2"
          >Start application</a
        >
        <a href="#" class="btn btn-violet-outline fw-bold"
          >Discover training programs</a
        >
      </div>
      <div class="col-md-6">
        <img
          src="https://oc-assets.imgix.net/modules/sdzv4-main/latest/images/home_banner-16deed9ecd0a8ef5b79c.jpg?auto=compress,format&q=80&w=568&dpr=2"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<!-- section learn -->
<section id="learn" class="learn">
  <div class="container p-5">
    <div class="learn-title text-center">
      <h3>Learn. Apply. Job-ready.</h3>
      <p class="text-secondary">
        With OpenClassrooms, discover a new way of learning: 20% theory, 80%
        practice.
      </p>
    </div>
    <div class="row p-5 align-items-center g-4">
      <div class="col-md col-lg-4 text-center">
        <img
          src="https://openclassrooms.com/modules/sdzv4-main/latest/images/online_study-011feaaa33df196e1ae0.svg"
          alt=""
          class="img-fluid"
        />
        <div class="body">
          <h4>Work on career-focused projects</h4>
          <p>
            Acquire skills you can use in the workplace thanks to projects based
            on actual business cases.
          </p>
        </div>
      </div>
      <div class="col-md col-lg-4 text-center">
        <img
          src="https://openclassrooms.com/modules/sdzv4-main/latest/images/mentoring-d3132f53ba0a521499a9.svg"
          alt=""
          class="img-fluid"
        />
        <div class="body">
          <h4>A mentor to support you</h4>
          Get weekly guidance from a field expert who's there to help you
          progress throughout your training program.
        </div>
      </div>
      <div class="col-md col-lg-4 text-center">
        <img
          src="https://openclassrooms.com/modules/sdzv4-main/latest/images/job_ready-7cd674ffd711044da492.svg"
          alt=""
          class="img-fluid"
        />
        <div class="body text-center">
          <h4>Learn wherever you are</h4>
          <p>
            Access your 100% online training program at the office, at home, in
            town, in the mountains - wherever you want!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- section career -->
<section id="career" class="career">
  <div class="container">
    <div class="row p-5 align-items-center g-4">
      <div class="col-md col-lg-6">
        <h3>Ready to boost your career?</h3>
        <p>
          Update your skills, develop new expertise and obtain a professional
          certificate! Whatever your career plans, we're here to advise and
          support you. Learn a profession with a future with the leader in
          online education.
        </p>
        <a href="#" class="btn btn-violet-fill">Start application</a>
      </div>
      <div class="col-md col-lg-6 text-end">
        <img
          src="https://i.vimeocdn.com/video/1636385652-fedb01e14c31de08e59d8b7a68de98b70d668edf06938f1e62da71781b3a000c-d?mw=2880&mh=1620&q=70"
          alt=""
          class="img-fluid w-75"
        />
      </div>
    </div>
  </div>
</section>

<!-- section testimony -->
<section id="testimony" class="testimony">
  <div class="container">
    <div class="row align-items-center p-5 g-4">
      <div class="col-md col-lg-6 text-end">
        <img
          src="https://oc-assets.imgix.net/modules/sdzv4-main/latest/images/en_testimonial_1-5464ab1b0a7114ab8ef2.jpg?auto=compress,format&q=80&w=488&h=488&dpr=2"
          alt=""
          class="img-fluid h-25"
        />
      </div>
      <div class="col-md col-lg-6">
        <h4 class="fw-bold">Ours students share their experiences.</h4>
        <p class="fw-bold">
          Pauline <br />
          Web developer
        </p>
        <span
          >“The Web Developer training program has really boosted my CV,
          especially for smaller companies who are looking to hire versatile
          people.”</span
        >
      </div>
    </div>
  </div>
</section>
{% endblock content %}
